@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #f4dbdb;
  overflow: hidden;
}

h1{
  font-family: var(--font-bungee-shade);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn{
  width: 20%;
  min-width: 225px;
  padding: 4px 24px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
}
.main-btn{
  color: white;
  background: #ce101d;
}
.primary-btn{
  background: #FAB4CB;
  color: #ce101d;
  border: 2px solid #ce101d;
}

.loading-page{
  background: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}